sudo: required
dist: xenial

env:
 - TRAVIS_PIPELINE=docker
## TODO: figure out why buildah pipeline is flaky, even with sudo
## - TRAVIS_PIPELINE=buildah

language: go

go: 1.12.9
  
services: docker

install:
## - sudo ./.travis/install_buildah.sh
 - go get golang.org/x/tools/cmd/cover
 - go get github.com/mattn/goveralls

script:
  - ./build_danm.sh
  - ./run_uts.sh
  - $GOPATH/bin/goveralls -coverprofile=$GOPATH/src/github.com/nokia/danm/coverage3.out -service=travis-ci -repotoken ZY6MA490QABNKGnJgYLi53QTDuTC4H69K
