sudo: required
dist: xenial
arch:
  - arm64
  - amd64
services: docker

language: go

go:
 - 1.13.x

env:
 - USE_CACHE=true TRAVIS_PIPELINE=docker
 - USE_CACHE=true TRAVIS_PIPELINE=podman
# - USE_CACHE=true TRAVIS_PIPELINE=buildah

before_install:
 - [[ "${TRAVIS_PIPELINE}" == "podman" ]] && ./.travis/install_podman.sh
 # - [[ "${TRAVIS_PIPELINE}" == "buildah" ]] && ./.travis/install_buildah.sh

install:
 - go get golang.org/x/tools/cmd/cover
 - go get github.com/mattn/goveralls

script:
  - ./build_danm.sh
  - ./run_uts.sh
  - $GOPATH/bin/goveralls -coverprofile=ut/coverage/coverage3.out -service=travis-ci -repotoken ZY6MA490QABNKGnJgYLi53QTDuTC4H69K
