apiVersion: apps/v1
kind: Deployment
metadata:
  name: routed-deployment
spec:
  selector:
    matchLabels:
      app: routed
  replicas: 1
  template:
    metadata:
      labels:
        app: routed
      annotations:
        danm.io/interfaces: |
          [
            {"clusterNetwork":"network-with-route", "ip":"dynamic", "proutes":{"10.10.1.0/24": "10.0.0.65"}}
          ]
    spec:
      containers:
      - name: busybox
        imagePullPolicy: IfNotPresent
        image: busybox:latest
        args:
        - sleep
        - "1000"
